/* -----------------------------
Importe und Asswets
--------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shadows+Into+Light&family=Source+Code+Pro&display=swap');

/* --------FONTS----------
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Source Code Pro', monospace;
*/
/* -----------------------------
General Styling
--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 8rem;
    text-align: center;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    text-align: center;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    color: darkgray;
}


.textCode {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6rem;
    color: greenyellow;
    width: fit-content;
    background-color: #000000aa;
    padding: 0 5px;
}

.textDeclare {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

/* -----------------------------
Header Styling
--------------------------------*/


/* -----------------------------
General Styling
--------------------------------*/

main {
    margin: 0 10% 0 10%;
}

#init,
#log,
#branch,
#pull {
    /* color: red; */
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

#init {
    margin: 10% 0 auto 0;
    box-shadow: 0px 0px 150px darkgoldenrod;
}

#log {
    margin: 5% 5% 0 5%;
    box-shadow: 0px 0px 150px green;
}

#branch {
    margin: 14% 0 0 0;
    box-shadow: 0px 0px 150px deepskyblue;
}

#pull {
    margin: 8% 0 0 5%;
    box-shadow: 0px 0px 150px tomato;
}

article {
    line-height: 3rem;
    padding: 10px 0 10px 0;
    margin: 0 0 0 10%;
}

#vscode {
    padding: 5%;
    text-align: center;
}

#vscode p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

#vscode p span {
    color: red;
}

/* -----------------------------
General Styling
--------------------------------*/